@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="display-4">Task App!</h1>
        <img src="~/friends.webp" style="width: 400px;"/>
        <p>See what quadrant your task is in!</p>
    </div>
</div>
